Html,
body {
    width: 100%;
    height: 100%;
    background-image: url('/immagini/photo-1608610026254-da1c4f08ce9d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Work-Sans', sans-serif;
}